@font-face {
    font-family: "Dosis";
    src: url("../fonts/dosis.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/lobster.ttf") format("truetype");
    font-display: swap;
}