@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster.ttf") format("truetype");
  font-display: swap;
}
:root {
  --font-base: 50%;
  --clr-primary: #fc197e ;
  --clr-white: #fbfbfb ;
  --clr-gray: #5b5b5f ;
  --clr-green: #a6ce39 ;
  --clr-light-green: #b4f1c3 ;
  --clr-purple: #c13f9a ;
  --clr-blue: #97d3c2 ;
}
@media only screen and (min-width: 768px) {
  :root {
    --font-base: 62.5%;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

span {
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  list-style-position: inside;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Dosis", sans-serif;
  font-variation-settings: "wght" var(--font-weight, 400);
}

html {
  font-size: var(--font-base) !important;
  color: var(--clr-gray);
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
  font-size: 4.2rem;
  font-stretch: 100%;
  line-height: 1.1;
}

strong,
b {
  --font-weight: 700;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--clr-primary) !important;
}

.bg-white {
  background-color: var(--clr-white) !important;
}

.bg-gray {
  background-color: var(--clr-gray) !important;
}

.bg-green {
  background-color: var(--clr-green) !important;
}

.bg-light-green {
  background-color: var(--clr-light-green) !important;
}

.bg-purple {
  background-color: var(--clr-purple) !important;
}

.bg-blue {
  background-color: var(--clr-blue) !important;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 3.2rem;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.row [class^=col-] {
  flex-basis: 100%;
}
@media only screen and (min-width: 768px) {
  .row .col-1 {
    flex: 0 0 calc(((100% - (30px * (1 - 1))) / (12 / 1)));
  }
  .row .col-2 {
    flex: 0 0 calc(((100% - (30px * (2 - 1))) / (12 / 2)));
  }
  .row .col-3 {
    flex: 0 0 calc(((100% - (30px * (3 - 1))) / (12 / 3)));
  }
  .row .col-4 {
    flex: 0 0 calc(((100% - (30px * (4 - 1))) / (12 / 4)));
  }
  .row .col-5 {
    flex: 0 0 calc(((100% - (30px * (5 - 1))) / (12 / 5)));
  }
  .row .col-6 {
    flex: 0 0 calc(((100% - (30px * (6 - 1))) / (12 / 6)));
  }
  .row .col-7 {
    flex: 0 0 calc(((100% - (30px * (7 - 1))) / (12 / 7)));
  }
  .row .col-8 {
    flex: 0 0 calc(((100% - (30px * (8 - 1))) / (12 / 8)));
  }
  .row .col-9 {
    flex: 0 0 calc(((100% - (30px * (9 - 1))) / (12 / 9)));
  }
  .row .col-10 {
    flex: 0 0 calc(((100% - (30px * (10 - 1))) / (12 / 10)));
  }
  .row .col-11 {
    flex: 0 0 calc(((100% - (30px * (11 - 1))) / (12 / 11)));
  }
  .row .col-12 {
    flex: 0 0 calc(((100% - (30px * (12 - 1))) / (12 / 12)));
  }
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  margin: 0;
  min-width: 20rem;
  padding: 1.6rem 2rem;
  border-radius: none;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  border-radius: 3.5px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-size: 1.8rem;
  --font-weight: 700;
}
.btn:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn--primary {
  background-color: #fc197e;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--primary:hover {
  background-color: #df0365;
  transition: background-color 0.5s ease-in-out;
}

.btn--white {
  background-color: #fbfbfb;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--white:hover {
  background-color: #e2e2e2;
  transition: background-color 0.5s ease-in-out;
}

.btn--gray {
  background-color: #5b5b5f;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--gray:hover {
  background-color: #424245;
  transition: background-color 0.5s ease-in-out;
}

.btn--green {
  background-color: #a6ce39;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--green:hover {
  background-color: #88aa2a;
  transition: background-color 0.5s ease-in-out;
}

.btn--light-green {
  background-color: #b4f1c3;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--light-green:hover {
  background-color: #89e9a1;
  transition: background-color 0.5s ease-in-out;
}

.btn--purple {
  background-color: #c13f9a;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--purple:hover {
  background-color: #9b327b;
  transition: background-color 0.5s ease-in-out;
}

.btn--blue {
  background-color: #97d3c2;
  color: var(--clr-white);
  transition: background-color 0.5s ease-in-out;
}
.btn--blue:hover {
  background-color: #73c4ad;
  transition: background-color 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
